<!DOCTYPE html>
<html lang="es">

<head>
    <title>Productos</title>
    <meta charset="utf-8">
    <meta name="author" content="Daniel Carranza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="../../resources/img/logo.jpg">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <main>
        <h3 id="mainTitle">Gestión de Productos</h3>
        <div class="row">
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar producto" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="bi bi-x-square-fill"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 col-md-6 text-end">
                <button type="button" class="btn btn-primary" onclick="openCreate()">
                    <i class="bi bi-plus-square-fill"></i>
                </button>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <td colspan="5" id="rowsFound"></td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle">Guardar Producto</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="saveForm">
                        <div class="modal-body row g-3">
                            <input type="number" class="d-none" id="idProducto" name="idProducto">
                            <div class="col-sm-12 col-md-6">
                                <label for="nombreProducto" class="form-label">Nombre</label>
                                <input id="nombreProducto" type="text" name="nombreProducto" class="form-control"
                                    required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="descripcionProducto" class="form-label">Descripción</label>
                                <input id="descripcionProducto" type="text" name="descripcionProducto"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="precioProducto" class="form-label">Precio</label>
                                <input id="precioProducto" type="text" step="0.01" name="precioProducto"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="cantidadProducto" class="form-label">Cantidad</label>
                                <input id="cantidadProducto" type="text" name="cantidadProducto"
                                    class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="tallaProducto" class="form-label">Talla</label>
                                <input id="tallaProducto" type="text" name="tallaProducto" class="form-control">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="colorProducto" class="form-label">Color</label>
                                <input id="colorProducto" type="text" name="colorProducto" class="form-control">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="categoriaProducto" class="form-label">Categoría</label>
                                <select id="categoriaProducto" name="categoriaProducto" class="form-select" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="tipoProducto" class="form-label">Tipo producto</label>
                                <select id="tipoProducto" name="tipoProducto" class="form-select" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="distribuidorProducto" class="form-label">Distribuidor</label>
                                <select id="distribuidorProducto" name="distribuidorProducto" class="form-select" required>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="imagenProducto" class="form-label">Imagen</label>
                                <input id="imagenProducto" type="file" name="imagenProducto" class="form-control"
                                    accept=".png, .jpg">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <script type="text/javascript" src="../../controllers/admin/producto.js"></script>
</body>

</html>
